@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GothamRounded";
  src: url("/fonts/gothamrounded-book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamRounded";
  src: url("/fonts/gothamrounded-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GothamRounded";
  src: url("/fonts/gothamrounded-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

.custom-outline {
  @apply rounded-xl outline outline-1 outline-primary;
}
